---
layout: blog
title: Bazel Blog
---

{% for post in paginator.posts %}

<div class="blog-post">
  <h1 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="blog-post-meta">
    <span class="text-muted">
      {% include byline.html authors=post.authors date=post.date %}
    </span>
  </div>

  <p>{{ post.excerpt | strip_html }}</p>

  {% assign words = post.content | number_of_words %}
  {% comment %}
    According to https://en.wikipedia.org/wiki/Words_per_minute, the
    average person can read about 180 WPM.
  {% endcomment %}
  {% assign minutes = words | divided_by:180 %}

  <div class="blog-post-meta">
    <span class="text-muted">
      <a href="{{ post.url }}">Continue reading
        {% if minutes <= 1 %}
        (about 1 minute)
        {% else %}
        (about {{ minutes }} minutes)
        {% endif %}
      </a>
	  {% comment %} /* disqus disabled b/c it's flaky (and we're not sure if it's useful) */
      &middot;
      <a href="{{ post.url }}#disqus_thread">
        <span class="disqus-comment-count"
              data-disqus-url="{{ post.url | prepend: site.blog_site_url }}">Comments</span>
      </a>
	  {% endcomment %}
    </span>
  </div>
</div>

{% endfor %}

{% comment %}<script id="dsq-count-scr" src="//googlebazel.disqus.com/count.js" async></script>{% endcomment %}
