// Styles specific to blog.bazel.build

.blog-post {
  margin-bottom: 60px;

  .blog-post-title {
    margin-bottom: 5px;
  }

  .blog-post-meta {
    margin-bottom: 20px;
  }

  img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1170px;
  }
}
